body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    padding: 0;
    margin: 0;
}

h1 {
    position: absolute;
    color: #fff;
    top: 10px
}

img {
    width: 300px;
    height: 400px;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
}

.card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s wase-in-out;
    backface-visibility: hidden;
    transition: 0.8s ease-in-out;
    transform: perspective(400px) rotateY(0deg);
}

.card:hover .face.back {
    transform: perspective(400px) rotateY(180deg);
}

.card .face.front {
    color: #fff;
    transform: perspective(400px) rotateY(180deg);
}

.card:hover .face.front {
    transform: perspective(400px) rotateY(360deg);
}